<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#">{{ reply.owner.username }}</a> said {{ reply.createdAt|ago }}...
    </div>

    <div class="panel-body">
        {{ reply.body }}
    </div>
</div>
