{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#">{{ thread.owner.username }}</a> posted: {{ thread.title }}</div>

                    <div class="panel-body">
                        {{ thread.body }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-md-offset-2">
                {% for reply in thread.replies %}
                    {% include 'thread/reply.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
